<div class='container'>
    <div class='col-md-12'>
        <form #createBlogForm="ngForm" (ngSubmit)="createBlog()">
        <div class="form-group">
            <label>Blog title</label>
        <input class="form-control" type="text" [(ngModel)]="blogTitle" name="blogTitle" #title="ngModel" required>
        </div>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Blog Title is required
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" [(ngModel)]="blogDescription" name="blogDescription" #description="ngModel" required>
        </div>
        
        <div class="form-group">
            <label>Enter body</label>
            <textarea class="form-control" name="blogBodyHtml" [(ngModel)]="blogBodyHtml" #body="ngModel" required></textarea>
        </div>
        
        <div class="form-group">
            <label>Category</label>
          <select [(ngModel)]="blogCategory" name="blogCategory" #category="ngModel" class="form-control" required>
              <option *ngFor="let category of poscategory" [value]="category">
                  {{category}}
              </option>
          </select>

        </div>
        <button type="submit" class="btn btn-success" [disabled]="!createBlogForm.form.valid">POST</button>
        </form>
    </div>
        </div>